@import './Variables.scss';

@media only screen and (max-width: 1260px) {
	.wrapper { padding: 0 15px }
	header { padding-bottom: 15px !important} 
	.dishes_flex, .top {flex-wrap: wrap; justify-content: center; 
		>div {margin: 0 15px 15px;}
	}
}
@media only screen and (max-width: 1150px) {
	.hero_left {
		>b { font-size: 14px; padding-left: 40px;
		&::before {width: 35px;}
		}
		>h1 { font-size: 50px;}
		>p { font-size: 16px;}
	}
	.feauters {
		>div {
			>h3 { font-size: 150%;}
			>p {font-size: 12px;}
		} 
	}
	.app_right {
		> h1 {font-size: 35px !important;}
		> ul > li { font-size: 18px !important;}
	}
	.control_left {
		>h1 {font-size: 40px;}
	}
}
@media only screen and (max-width: 1024px) {
	.feauters {
		>div:nth-child(2) {margin: 0 5px;}
	}
	.filters {justify-content: center; flex-direction: column;
		&_left {text-align: center; width: auto;}
		&_right {width: auto;}
	}
	.articles {grid-template-columns: repeat(2, 1fr);}

	.login > .loginModal, .register >.registerModal, .forgot > .forgotModal {
    max-width: 70%;
		>form{
			>input {width: 75%}
		}
	}
}
@media only screen and (max-width: 950px) {
	.title {font-size: 200%;}
	.purchase__graph-header > h3 {font-size: 20px !important}
	.purchase__select {font-size: 16px !important; padding: 8px 5px !important;}
	.purchase__graph-item {margin-bottom: 10px;}



	.articleDesc{ flex-direction: column;
		>.descLeft{ width: 90%;
			>button {display: block; margin: 30px auto;}
		}
	}
}
@media only screen and (max-width: 800px) {
	.hero_left {
		>b { font-size: 12px; padding-left: 30px;
		&::before {width: 25px;}
		}
		>h1 { font-size: 30px;}
		>p { font-size: 14px;}
	}
	.feauters {
		>div {
			>h3 { font-size: 120%;}
			>p {font-size: 10px;}
		} 
	}
	.app_right {
		> h1 {font-size: 25px !important;}
		> ul > li { font-size: 14px !important;}
	}
	.control_left {
		>h1 {font-size: 25px;}
	}
	.title {font-size: 150%;}
	.navBar > a {font-size: 16px;}
	.hero_buttons > button, .app_right > button { padding: 10px 20px !important}
	.buttons >	button {padding: 8px 20px !important}
	.top_info {
		>span {font-size: 16px;}
		>h3 {font-size: 20px;}
	}
	.info_desc {
		>p {font-size: 16px !important;}
		>	div {font-size: 16px !important;
		>svg {width: 20px;}}
	} 
	.control {flex-direction: column;
		&_left, &_right {width: 75%;}
		&_left { margin-bottom: 20px;
			> h1 {text-align: center;}
		}
	}
	.subscribe {
		>h1 {text-align: center;}
		>form {display: block;margin: 0 auto;}
		&::before {
			width: 170px;
			height: 170px;
			right: 50%;
			top: 75%;
			transform: translateX(50%)
		}
	}
	.cardTitle {
		>h1 {font-size: 35px !important;}
		>h3 {font-size: 12px !important;}
	}
	.cardFeauters {
		>b {font-size: 18px !important;}
		>p {font-size: 16px !important;}
	}
	.cardBasic, .cardPro {
		>svg {width: 75px; height: 75px}
	}
	.cardSvgs {
		>svg {width: 25px; height: 25px}
	}
}
@media only screen and (max-width: 700px) {
	header {
		>.navBar{ display: none;}
		>.buttons {flex: 1 1 auto}
		>.burger {display: block;}
	}
	.hero {justify-content: center; flex-direction: column;}
	.hero_left {text-align: center; margin-bottom: 30px;
		>h1 {text-align: center;}
	}
	.hero_right {width: 70%;}
	.view {margin-bottom: 50px;}
	.dishes {margin-bottom: 0;}
	.control {margin-bottom: 50px;}
	.slider_item {min-width: 90%;}
	.footer_top > nav>a {margin-left: 35px !important}
}
@media only screen and (max-width: 650px) {
	.feauters{justify-content: center; flex-direction: column;
		>div { width: 100%;
			>h3 {font-size: 150%;}
			>p {font-size: 16px;}
		}
		>div:nth-child(2) {border: 0; border-top: 1px solid $borderColor; border-bottom: 1px solid $borderColor; padding: 15px 0; margin: 15px 0;;}
	}
	.downloadApp {justify-content: center; flex-direction: column-reverse;
		>.app_right {text-align: center;margin-bottom: 30px;
			>ul {padding-left: 0; list-style-type: none;}
			>button {margin: 15px 0 0 0;}
		}
		>.app_left {width: 70%; margin-left:30px;}
	}

	.cardTitle {
		>h1 {font-size: 25px !important;}
		>h3 {font-size: 10px !important;}
	}
	.cardFeauters {
		>b {font-size: 18px !important;}
		>p {font-size: 14px !important;}
	}
	.cardBasic, .cardPro {
		>svg {width: 65px; height: 65px};
		>button {padding: 5px 10px !important;}
	}
	.cardSvgs {
		>svg {width: 25px; height: 25px}
	}
	.articles {grid-template-columns: repeat(1, 1fr);}

	.contactUs > form > input {width: 90%;}

	.errorPage {
		>button {width: 35%;}
	}
} 
@media only screen and (max-width: 550px) {
	.downloadApp {padding: 30px 50px 75px;
		>.app_right {padding-left: 0;}
	}
	.dishes_flex > div {padding: 5px 10px; max-width: 40%;}
	.footer {@include flex; justify-content: space-between;
		&_top {justify-content: center; flex-direction: column;
			>nav {@include flex; flex-direction: column; align-items: flex-start; margin-top: 15px;
				> a {margin: 15px 0 0 0 ;}
			}
		}
		&_end {justify-content: center; flex-direction: column-reverse;
			>p {margin-top: 15px;}
		}
	}
	.subscribe { padding: 45px 0 100px}
	.control_right {display: none;}
	.control_left {width: 100%}
	.socials {@include flex;flex-wrap: wrap; align-items: flex-end; justify-content: center; 
		>svg {margin: 0 10px 0 0;}
	}

	.filters {
		&_left {
			>.banner {
				>p {font-size: 55px !important;}
			}
		}
	}
}

@media only screen and (max-width: 525px) {
	.subscribe {
		> h1 { font-size: 55px;}
		> form {
			> input {width: 100%;height: 40px; font-size: 14px;}
			> button {padding: 7px 15px}
		} 
	}
	.footer_end {
		> p{font-size: 10px; text-align: right;}
	}
	.priceCard {flex-direction: column;}
	.cardPricing {
		>p {display: none;}
	}
	.login > .loginModal, .register >.registerModal, .forgot > .forgotModal{max-width: 100%;
		>form {
			>input {width: 100% !important;}
		}
	}
}
@media only screen and (max-width: 450px) {
	.app_right {
		>h1 {padding: 0 !important;}
	}
	.title { margin: 20px auto;}
	.hero_right{
		width: 90%
	}
	.dishes_flex {
		>div >.top_info {
			>span {font-size: 12px;}
			>h3 {font-size: 16px;}
			>P {font-size: 100%;}
			>.info_flex {
				>.info_desc {flex-direction: column; justify-content: center; align-items: flex-start;}
			}
		}
	}
	.filters {
		&_right {
			padding: 25px;
		}
	}
	.restCurrent {margin-bottom: 10px;
		>.top_info {padding:10px !important; 
			> .info_flex {flex-direction: column;
				>button {width: 90%;}
			}
		}
	}
	.title {
    font-size: 125%;
	}
	.descLeft {
		>h3 {font-size: 25px !important;}
		>p {font-size: 15px !important;}
		>ul>li {font-size: 16px !important;}
	}
}

@media only screen and (max-width: 400px) {
	.subscribe {
    padding: 45px 10px 100px;
	}
	.buttons {display: none;}
	.burgerBtns {	@include flex;justify-content: center;flex-direction: column-reverse;
		>button { margin-left: 0 !important;margin-top:15px;}
	}
	.slider_item {
		padding: 30px;
		>p {font-size: 14px;}
		>div {
			>img {max-width: 30%;}
			> div {
				>h3 {font-size: 80%;}
				>h5 {font-size: 80%;}
			}
		}
	}
	.filters {
		&_left {
			>.banner {
				>p {font-size: 40px !important;}
			}
		}
		&_right {
			padding: 15px;
		}
	}
	.category {
		&Item {
			>svg {width: 35px !important;  height: 35px !important;}
			// >p {font-size: 70%;}
		}
	}
	.sortBy {
		>a {font-size: 16px !important;}
	}
	.question {
		>b {font-size: 80%;}
		>svg {margin-left: 15px; min-width: 31px; min-height: 31px;}
	}
}
@media only screen and (max-width: 350px) {	
	.subscribe {
		>h1 {font-size: 35px;margin-bottom: 15px;}
		>form{
			>input {font-size: 11px;}
			>button {padding: 5px 10px}
		}
	}
	.footer_top > nav >a {margin-left: 0 !important;}
	.category {display: grid !important;grid-template-columns: repeat(2, 1fr); grid-gap: 30px;}

	.login > .loginModal, .register > .registerModal, .forgot > .forgotModal {
		>h1 {font-size: 22px;}
		>form{
			>a {font-size: 14px;}
			>div {font-size: 14px;}
			>button {padding: 5px 50px}
		}
	}
}
@media only screen and (max-width: 313px) {
	.hero_buttons > button {margin-right: 10px !important;}
	.dishes_flex > div {max-width: 80%;
		.top_info {
			>span {font-size: 16px !important;}
			>h3 {font-size: 20px !important;}
			>P {font-size: 150% !important;}
			>.info_flex {
				>.info_desc {flex-direction: column; justify-content: center; align-items: flex-start;}
			}
		}}
		.downloadApp {
			padding: 30px 0px 75px;
		}
		.top > div > .top_info {
  	  padding: 10px 10px 17px 15px;
		}	
		.burgerPage >nav >a {font-size: 18px !important;}
		.filters {margin-top: 0;}

		.articleFlex {flex-direction: column; align-items: flex-start	!important;
			>div {margin-bottom: 15px;}
		}

		.contactUs >form>input{font-size: 60%;}
}
@media only screen and (max-width: 293px) {
	.errorPage {
		>button {width: 70%;}
	}
	.hero_buttons > button {
		margin-bottom: 10px;
	}
	.feauters >div {
		>h3 {font-size: 130%;}
		>p {font-size: 14px;}
	}
	.banner {padding: 5px !important}
	.search {
		>input {font-size: 100% !important;}
	}
	.sortBy{
		>a {font-size: 14px !important;}
	}
	.mark {font-size: 40% !important}

	.restCurrent {
		>.top_info >h3 {font-size: 16px;}
	}
	.sideTitle {font-size: 150%;}

	.title {
    font-size: 100%;
	}
}
@media only screen and (max-width: 250px) {
	.slider_item {
		>div>div {
			>h3 {font-size: 70%;}
			>h5 {font-size: 70%;}
		}
		> p {font-size: 12px !important}
	}
	.sortBy {flex-direction: column; align-items: flex-start !important;}
	.filters_left > .banner > p {
    font-size: 30px !important;
	}
	.filters_right > .filter > .sortBy > a:nth-child(2) {
  text-align: left;
	}
	.restCurrent > .top_info > .info_flex > .info_desc {flex-direction: column;}
	.restCurrent > 	.top_info {padding: 15px !important};

	.footer {flex-direction: column;}

	.articleItem { padding: 15px !important; 
		>h3 {font-size: 18px !important;}
		>div >div >div {
			>h3 {font-size: 14px !important;}
			>p {font-size: 8px !important;}
		}
	}
	.descLeft >h3 {
		font-size: 20px !important;
	}
	.login > .loginModal > form, .register >.registerModal >form,.forgot > .forgotModal > form {
		> input {font-size: 100%; padding: 15px;}
		>button {padding: 5px 25px}
	}
}
@media only screen and (max-width: 175px) {
	.sideTitle {font-size: 100%;}
	.restCurrent > 	.top_info {padding: 7px !important}
}
